---
# The Alexa top list, http://s3.amazonaws.com/alexa-static/top-1m.csv.zip
alexa_list: resources/alexa-1m-2021-05-19.csv.gz

# Versions of QUIC supported in our experiments
quic_versions: ["h3-29"]

# Second level domains that whose representation in the dataset are reduced
frequent_slds: ["blogspot.com", "appspot.com", "myshopify.com", "withgoogle.com", "translate.goog"]

# The log level passed to RUST_LOG for the neqo-client
neqo_log_level: "neqo-transport=info"

# The User-Agent to use for collections
user_agent: "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"

url_deps:
  batch_size: 100
  n_batches: 140

defaults:
  front_config: &front-default
    max_client_packets: 2500
    max_server_packets: 2500
    packet_size: 1200
    peak_minimum: 1
    peak_maximum: 14
  tamaraw_config: &tamaraw-default
    packet_size: 750
    rate_in: 0.005
    rate_out: 0.02
    pad_multiple: 100

experiment:
  scores:
    ts_offset: {min: 0, max: 200, inc: 5}
    resample_rates: ["5ms", "25ms", "50ms"]
  excess_msd:
    max_samples: 1000
    padding: { rate: 1, duration: 10, interval: 5 }  # Mbps, seconds, milliseconds
    excess_values: [ 16, 350, 700, 1000, 2000 ]
  # NOTE: The single_eval *_configs are also used in the delay-vs-drop experiment
  delay_vs_drop:
    max_samples: 100
  front_single_eval:
    max_samples: 1000
    front_config: *front-default
  tamaraw_single_eval:
    max_samples: 1000
    tamaraw_config: *tamaraw-default
  ml_eval:
    monitored: { samples: 100, instances: 100, extra: 0.6 }
    unmonitored: { samples: 10_000, instances: 1, extra: 0.25 }
    snaplen: 96
    front_config: *front-default
    tamaraw_config: *tamaraw-default
    min_packet_size: 100
    splits:
      n_folds: 10
      seed: 437
      validation_size: 0.1
